NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
FESTIVAL_ADMIN_SECRET=
RESEND_API_KEY=
TICKET_FROM_EMAIL=African Food & Drinks Festival <tickets@afrifoodnetwork.com>
TICKET_REPLY_TO=festival@afrifoodnetwork.com
NEXT_PUBLIC_SITE_URL=https://festival.afrifoodnetwork.com
